/* // STANDARD RULES */

body {
  background-color: red;
  font-family: Consolas, monospace, monospace;
  color: red;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: red;
}

.box {
  border-radius: 2px;
  padding: 1rem;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-around
}

.small-box {
  font-size: 0.75rem;
}

           .box:hover { background-color: lightcyan; }
.roddie-digital:hover { background-color: red }
         .films:hover { background-color: white; }

/* // FULL WIDTH RULES */

.parent {
  display: grid;
  grid-template-columns: repeat(10, 5rem);
  grid-template-rows: repeat(12, 5rem);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  background-color: red;
}

.roddie-digital {
  grid-area: 6 / 5 / 8 / 7;
  background-color: red;
  color: yellow;
  display: flex;
  align-items: center;
}

.crlgen {
  grid-area: 8 / 4 / 9 / 5;
  background-color: khaki;
}

.films {
  grid-area: 10 / 5 / 12 / 7;
  background-color: lightcyan;
}

.focus {
  grid-area: 3 / 9 / 4 / 10;
  background-color: yellow;
}

.food {
  grid-area: 9 / 2 / 10 / 3;
  background-color: gold;
}

.grand-designs {
  grid-area: 2 / 8 / 3 / 9 ;
  background-color: gold;
}

.john-shuttleworth {
  grid-area: 6 / 9 / 8 / 11;
  background-color: orange;
}

.letterboxd {
  grid-area: 8 / 10 / 9 / 10;
  background-color: yellow;
}

.nagios {
  grid-area: 6 / 7 / 8 / 9;
}

.pdp {
  grid-area: 6 / 2 / 7 / 3 ;
}

.poopmoji {
  grid-area: 6 / 3 / 8 / 5;
  background-color: goldenrod;
}

.robots {
  grid-area: 8 / 7 / 10 / 9;
  background-color: gold;
}

.spotter-guides {
  grid-area: 4 / 7 / 6 / 9;
  background-color: khaki;
}

.stuxnet {
  grid-area: 4 / 5 / 6 / 7;
}

.twitter {
  grid-area: 9 / 9 / 10 / 10;
  background-color: khaki;
}

.ublock {
  grid-area: 5 / 4 / 6 / 5;
  background-color: gold;
}

.vegan-highland {
  grid-area: 10 / 1 / 12 / 3;
  background-color: #6ca12b;
  color: white;
}

.vegan-highland:hover {
  color: red;
}

.unused-1 { grid-area: 8 / 5 / 10 / 7; }
.unused-1:hover { background-color: yellow; }
.unused-2 { grid-area: 2 / 5 / 4 / 7; background-color: orange; }
.unused-2:hover { background-color: orange; }

/* // 4 COLUMN RULES */

@media screen and (max-width: 845px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(8, 5rem);
    grid-template-rows: repeat(10, 5rem);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    background-color: red;
  }

  .roddie-digital {
    grid-area: 5 / 4 / 7 / 6;
    background-color: red;
    color: yellow;
    display: flex;
    align-items: center;
  }

  /* //TODO check this */
  .crlgen {
    grid-area: 8 / 4 / 9 / 5;
    background-color: khaki;
  }

  .focus {
    grid-area: 9 / 5 / 10 / 6;
    background-color: yellow;
  }

  .food {
    grid-area: 7 / 2 / 8 / 3;
    background-color: gold;
  }

  .films {
    grid-area: 7 / 5 / 9 / 7;
    background-color: lightcyan;
  }

  .grand-designs {
    grid-area: 1 / 6 / 2 / 7 ;
    background-color: gold;
  }

  .john-shuttleworth {
    grid-area: 5 / 7 / 7 / 9;
    background-color: orange;
  }
  
  .letterboxd {
    grid-area: 8 / 8 / 9 / 9;
    background-color: yellow;
  }
  
  .nagios {
    grid-area: 3 / 3 / 5 / 5;
  }
  
  .pdp {
    grid-area: 2 / 5 / 3 / 6 ;
  }

  .poopmoji {
    grid-area: 3 / 5 / 5 / 7;
    background-color: goldenrod;
  } 
 
  .robots {
    grid-area: 1 / 1 / 3 / 3;
    background-color: gold;
  }
 
  .spotter-guides {
    grid-area: 9 / 3 / 11 / 5;
    background-color: khaki;
  }
 
  .stuxnet {
    grid-area: 5 / 1 / 7 / 3;
  }

  .twitter {
    grid-area: 7 / 7 / 8 / 8;
    background-color: khaki;
  }

  .ublock {
    grid-area: 10 / 5 / 11 / 6;
    background-color: gold;
  }

  .vegan-highland {
    grid-area: 7 / 3 / 9 / 5;
    background-color: #6ca12b;
    color: white;
  }

  .vegan-highland:hover {
    color: red;
  }

  .unused-1, .unused-2 { display: none; }
  
} /* close 4 column media query */


/* // 3 COLUMN RULES */

@media screen and (max-width: 680px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(6, 5rem);
    grid-template-rows: repeat(10, 5rem);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    background-color: red;
  }

  .roddie-digital {
    grid-area: 3 / 3 / 5 / 5;
    background-color: red;
    color: yellow;
    display: flex;
    align-items: center;
  }

  /* //TODO check this */
  .crlgen {
    grid-area: 8 / 4 / 9 / 5;
    background-color: khaki;
  }

  .films {
    grid-area: 7 / 5 / 9 / 7;
    background-color: lightcyan;
  }

  .focus {
    grid-area: 9 / 5 / 10 / 6;
    background-color: yellow;
  }

  .food {
    grid-area: 6 / 2 / 7 / 3;
    background-color: gold;
  }

  .grand-designs {
    grid-area: 1 / 6 / 2 / 7 ;
    background-color: gold;
  }

  .john-shuttleworth {
    grid-area: 7 / 1 / 9 / 3;
    background-color: orange;
  }

  .letterboxd {
    grid-area: 6 / 6 / 7 / 7;
    background-color: yellow;
  }

  .nagios {
    grid-area: 5 / 3 / 7 / 5;
  }

  .pdp {
    grid-area: 2 / 5 / 3 / 6 ;
  }

  .poopmoji {
    grid-area: 3 / 5 / 5 / 7;
    background-color: goldenrod;
  }

  .robots {
    grid-area: 3 / 1 / 5 / 3;
    background-color: gold;
  }

  .spotter-guides {
    grid-area: 9 / 3 / 11 / 5;
    background-color: khaki;
  }

  .stuxnet {
    grid-area: 1 / 3 / 3 / 5;
  }

  .twitter {
    grid-area: 5 / 5 / 6 / 6;
    background-color: khaki;
  }

  .ublock {
    grid-area: 10 / 5 / 11 / 6;
    background-color: gold;
  }

  .vegan-highland {
    grid-area: 7 / 3 / 9 / 5;
    background-color: #6ca12b;
    color: white;
  }

  .vegan-highland:hover {
    color: red;
  }
    
  .unused-1, .unused-2 { display: none; }
} /* close 3 column media query */


/* // 2 COLUMN RULES */

@media screen and (max-width: 520px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: repeat(11, 5rem);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    background-color: red;
  }

  .roddie-digital {
    grid-area: 3 / 1 / 4 / 5;
    background-color: red;
    color: yellow;
    display: flex;
    align-items: center;
  }

  .crlgen {
    grid-area: 8 / 1 / 9 / 2;
    background-color: khaki;
  }
  
  .films {
    grid-area: 8 / 3 / 10 / 5;
    background-color: lightcyan;
  }

  .focus {
    grid-area: 11 / 2 / 12 / 3;
    background-color: yellow;
  }

  .food {
    grid-area: 8 / 2 / 9 / 3;
    background-color: gold;
  }

  .grand-designs {
    grid-area: 7 / 4 / 8 / 5 ;
    background-color: gold;
  }
  
  .john-shuttleworth {
    grid-area: 6 / 1 / 8 / 3;
    background-color: orange;
  }
 
  .letterboxd {
    grid-area: 4 / 4 / 5 / 5;
    background-color: yellow;
  }

  .nagios {
    grid-area: 5 / 3 / 7 / 5;
  }
  
  .pdp {
    grid-area: 7 / 3 / 8 / 4 ;
  }
  
  .poopmoji {
    grid-area: 4 / 1 / 6 / 3;
    background-color: goldenrod;
  }
  
  .robots {
    grid-area: 1 / 1 / 3 / 3;
    background-color: gold;
  }
  
  .spotter-guides {
    grid-area: 10 / 3 / 12 / 5;
    background-color: khaki;
  }
  
  .stuxnet {
    grid-area: 1 / 3 / 3 / 5;
  }
  
  .twitter {
    grid-area: 4 / 3 / 5 / 4;
    background-color: khaki;
  }
  
  .ublock {
    grid-area: 11 / 1 / 12 / 2;
    background-color: gold;
  }
  
  .vegan-highland {
    grid-area: 9 / 1 / 11 / 3;
    background-color: #6ca12b;
    color: white;
  }

  .vegan-highland:hover {
    color: red;
  }

  .unused-1, .unused-2 { display: none; }
  
} /* close 2 column media query */
