/* // STANDARD RULES */

body {
  background-color: red;
  font-family: Consolas, monospace, monospace;
  color: red;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: red;
}

.box {
  border-radius: 2px;
  padding: 1rem;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-around
}

.small-box {
  font-size: 0.75rem;
}

.rd-box {
  background-color: red;
  color: yellow;
  display: flex;
  align-items: center;
}
     .gold-box { background-color: gold; }
.goldenrod-box { background-color: goldenrod; }
    .khaki-box { background-color: khaki; }
.lightcyan-box { background-color: lightcyan; }
   .orange-box { background-color: orange; }
       .vh-box { background-color: #6ca12b; color: white; }

           .box:hover { background-color: lightcyan; }
.roddie-digital:hover { background-color: red }
         .films:hover { background-color: white; }
        .vh-box:hover { color: red; }

/* // FULL WIDTH RULES */

.parent {
  display: grid;
  grid-template-columns: repeat(10, 5rem);
  grid-template-rows: repeat(12, 5rem);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  background-color: red;
}

   .roddie-digital { grid-area:  6 /  5 /  8 /  7; }
           .crlgen { grid-area:  8 /  4 /  9 /  5; }
            .films { grid-area: 10 /  5 / 12 /  7; }
            .focus { grid-area:  3 /  9 /  4 / 10; }
             .food { grid-area:  9 /  2 / 10 /  3; }
    .grand-designs { grid-area:  2 /  8 /  3 /  9; }
.john-shuttleworth { grid-area:  6 /  9 /  8 / 11; }
       .letterboxd { grid-area:  8 / 10 /  9 / 10; }
           .nagios { grid-area:  6 /  7 /  8 /  9; }
              .pdp { grid-area:  6 /  2 /  7 /  3; }
         .poopmoji { grid-area:  6 /  3 /  8 /  5; }
           .robots { grid-area:  8 /  7 / 10 /  9; }
   .spotter-guides { grid-area:  4 /  7 /  6 /  9; }
          .stuxnet { grid-area:  4 /  5 /  6 /  7; }
          .twitter { grid-area:  9 /  9 / 10 / 10; }
           .ublock { grid-area:  5 /  4 /  6 /  5; }
   .vegan-highland { grid-area: 10 /  1 / 12 /  3; }

      .unused-1 { grid-area: 8 / 5 / 10 / 7; }
      .unused-2 { grid-area: 2 / 5 /  4 / 7; background-color: orange; }
.unused-1:hover { background-color: yellow; }
.unused-2:hover { background-color: orange; }

/* // 4 COLUMN RULES */

@media screen and (max-width: 850px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(8, 5rem);
    grid-template-rows: repeat(10, 5rem);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    background-color: red;
  }

     .roddie-digital { grid-area:  5 / 4 /  7 / 6; }
             .crlgen { grid-area:  8 / 4 /  9 / 5; } /* //TODO check this */
              .focus { grid-area:  9 / 5 / 10 / 6; }
               .food { grid-area:  7 / 2 /  8 / 3; }
              .films { grid-area:  7 / 5 /  9 / 7; }
      .grand-designs { grid-area:  1 / 6 /  2 / 7; }
  .john-shuttleworth { grid-area:  5 / 7 /  7 / 9; }
         .letterboxd { grid-area:  8 / 8 /  9 / 9; }
             .nagios { grid-area:  3 / 3 /  5 / 5; }
                .pdp { grid-area:  2 / 5 /  3 / 6; }
           .poopmoji { grid-area:  3 / 5 /  5 / 7; } 
             .robots { grid-area:  1 / 1 /  3 / 3; }
     .spotter-guides { grid-area:  9 / 3 / 11 / 5; }
            .stuxnet { grid-area:  5 / 1 /  7 / 3; }
            .twitter { grid-area:  7 / 7 /  8 / 8; }
             .ublock { grid-area: 10 / 5 / 11 / 6; }
     .vegan-highland { grid-area:  7 / 3 /  9 / 5; }

  .unused-1, .unused-2 { display: none; }
  
} /* close 4 column media query */


/* // 3 COLUMN RULES */

@media screen and (max-width: 650px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(6, 5rem);
    grid-template-rows: repeat(10, 5rem);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    background-color: red;
  }

     .roddie-digital { grid-area:  3 / 3 /  5 / 5; }
             .crlgen { grid-area:  8 / 4 /  9 / 5; } /* //TODO check this */
              .films { grid-area:  7 / 5 /  9 / 7; }
              .focus { grid-area:  9 / 5 / 10 / 6; }
               .food { grid-area:  6 / 2 /  7 / 3; }
      .grand-designs { grid-area:  1 / 6 /  2 / 7; }
  .john-shuttleworth { grid-area:  7 / 1 /  9 / 3; }
         .letterboxd { grid-area:  6 / 6 /  7 / 7; }
             .nagios { grid-area:  5 / 3 /  7 / 5; }
                .pdp { grid-area:  2 / 5 /  3 / 6; }
           .poopmoji { grid-area:  3 / 5 /  5 / 7; }
             .robots { grid-area:  3 / 1 /  5 / 3; }
     .spotter-guides { grid-area:  9 / 3 / 11 / 5; }
            .stuxnet { grid-area:  1 / 3 /  3 / 5; }
            .twitter { grid-area:  5 / 5 /  6 / 6; }
             .ublock { grid-area: 10 / 5 / 11 / 6; }
     .vegan-highland { grid-area:  7 / 3 /  9 / 5; }
    
  .unused-1, .unused-2 { display: none; }
  
} /* close 3 column media query */


/* // 2 COLUMN RULES */

@media screen and (max-width: 500px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: repeat(11, 5rem);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    background-color: red;
  }

     .roddie-digital { grid-area:  3 / 1 /  4 / 5; }
             .crlgen { grid-area:  8 / 1 /  9 / 2; }
              .films { grid-area:  8 / 3 / 10 / 5; }
              .focus { grid-area: 11 / 2 / 12 / 3; }
               .food { grid-area:  8 / 2 /  9 / 3; }
      .grand-designs { grid-area:  7 / 4 /  8 / 5; }
  .john-shuttleworth { grid-area:  6 / 1 /  8 / 3; }
         .letterboxd { grid-area:  4 / 4 /  5 / 5; }
             .nagios { grid-area:  5 / 3 /  7 / 5; }
                .pdp { grid-area:  7 / 3 /  8 / 4; }
           .poopmoji { grid-area:  4 / 1 /  6 / 3; }
             .robots { grid-area:  1 / 1 /  3 / 3; }
     .spotter-guides { grid-area: 10 / 3 / 12 / 5; }
            .stuxnet { grid-area:  1 / 3 /  3 / 5; }
            .twitter { grid-area:  4 / 3 /  5 / 4; }
             .ublock { grid-area: 11 / 1 / 12 / 2; }
     .vegan-highland { grid-area:  9 / 1 / 11 / 3; }

  .unused-1, .unused-2 { display: none; }
  
} /* close 2 column media query */

/* // 1.5 COLUMN RULES */

@media screen and (max-width: 350px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(3, 5rem);
    grid-template-rows: repeat(9, 5rem);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    background-color: red;
  }

     .roddie-digital { grid-area:  2 / 1 /  3 / 4; font-size: 0.9rem; }
             .crlgen { grid-area:  4 / 3 /  5 / 4; }
              .films { grid-area:  5 / 2 /  6 / 4; }
              .focus { grid-area:  8 / 3 /  9 / 4; }
               .food { grid-area:  7 / 1 /  8 / 2; }
      .grand-designs { grid-area:  6 / 3 /  7 / 4; }
  .john-shuttleworth { grid-area:  9 / 2 / 10 / 4; }
         .letterboxd { grid-area:  3 / 1 /  4 / 2; }
             .nagios { grid-area:  6 / 1 /  7 / 3; }
                .pdp { grid-area:  9 / 1 / 10 / 2; }
           .poopmoji { grid-area:  4 / 1 /  5 / 3; }
             .robots { grid-area:  3 / 2 /  4 / 4; }
     .spotter-guides { grid-area:  8 / 1 /  9 / 3; }
            .stuxnet { grid-area:  1 / 1 /  2 / 3; }
            .twitter { grid-area:  1 / 3 /  2 / 4; }
             .ublock { grid-area:  5 / 1 /  6 / 2; }
     .vegan-highland { grid-area:  7 / 2 /  8 / 4; font-size: 0.9rem; }

  .unused-1, .unused-2 { display: none; }
  
} /* close 1.5 column media query */

/* // 1 COLUMN RULES */

@media screen and (max-width: 270px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(2, 5rem);
    grid-template-rows: repeat(13, 5rem);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    background-color: red;
  }

     .roddie-digital { grid-area:  1 / 1 /  2 / 3; font-size: 0.9rem; }
             .crlgen { grid-area:  7 / 1 /  8 / 2; }
              .films { grid-area: 11 / 1 / 12 / 3; }
              .focus { grid-area: 10 / 2 / 11 / 3; }
               .food { grid-area:  7 / 2 /  8 / 3; }
      .grand-designs { grid-area:  5 / 2 /  6 / 3; }
  .john-shuttleworth { grid-area: 12 / 1 / 13 / 3; }
         .letterboxd { grid-area:  3 / 2 /  4 / 3; }
             .nagios { grid-area: 13 / 1 / 14 / 3; }
                .pdp { grid-area:  5 / 1 /  6 / 2; }
           .poopmoji { grid-area:  6 / 1 /  7 / 3; }
             .robots { grid-area:  4 / 1 /  5 / 3; }
     .spotter-guides { grid-area:  9 / 1 / 10 / 3; }
            .stuxnet { grid-area:  2 / 1 /  3 / 3; }
            .twitter { grid-area:  3 / 1 /  4 / 2; }
             .ublock { grid-area: 10 / 1 / 11 / 2; }
     .vegan-highland { grid-area:  8 / 1 /  9 / 3; font-size: 0.9rem; }

  .unused-1, .unused-2 { display: none; }
  
} /* close 1 column media query */
